@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Varela+Round&display=swap');

:root {
    /* CSS HEX */
    --gunmetal: #1A3140ff;
    --dark-green: #002424ff;
    --chocolate-cosmos: #681E27ff;
    --red: #852328;
    --eggplant: #5B323Aff;
    --raisin-black: #212123ff;
    --rich-black: #0A151Eff;
    --gold-metallic: #E2B51Fff;
    --gold: #F4D236ff;
    --timberwolf: #DAD5CDff;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    image-rendering: crisp-edges;
}

body {
    color: var(--timberwolf);
    background-color: var(--rich-black);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--timberwolf);
}

.navbar-container {
    display: flex;
    justify-content: center;
    background-color: var(--red);
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    width: min(100%, 960px);
    display: flex;
    gap: 2rem;
}

.navbar>.left {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.navbar>.left>.logo {
    display: flex;
    gap: 1rem;
}

.navbar>.left>.logo>div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 4rem;
    height: 4rem;
    position: relative;
}

.navbar>.left>.logo>div.wrapper>img {
    width: 8rem;
    object-position: top center;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: 2;
}

.navbar>.left>.logo>h1 {
    width: auto;
    max-width: 10rem;
    flex: 1;
    color: var(--gold-metallic);
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    text-shadow: -1px 0 0 var(--gold);
    letter-spacing: 3px;
}

.navbar>.left>button#expand-nav {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--gold);
    text-shadow: -1px 0 0 var(--gold);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

.navbar>.nav-links-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar>.nav-links-container>ul.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}

.navbar>.nav-links-container>ul.nav-links>li {
    font-size: larger;
    font-family: 'Russo One', sans-serif;
    font-weight: 0;
    color: var(--timberwolf);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar>.nav-links-container>ul.nav-links>li>a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.navbar>.nav-links-container>ul.nav-links>li:hover {
    transform: translateY(-2px);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar>.nav-links-container>ul.nav-links .instagram {
    fill: var(--timberwolf);
}

span.highlight {
    color: var(--gold);
}

a {
    text-decoration: none !important;
    color: inherit;
}

.welcome {
    height: 50rem;
    overflow: hidden;
    position: relative;
}

.welcome>.caurosel {
    height: 100%;
    overflow: hidden;
}

.welcome>.caurosel>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
    position: absolute;
    top: 0;

}

.welcome>.caurosel>img.active {
    opacity: 0.5;
    pointer-events: auto;
    position: relative;
}

.welcome>.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome>.container>.text {
    padding: 2rem;
    box-sizing: border-box;
    font-size: 3rem;
    color: var(--gold-metallic);
    font-weight: 900;
    font-style: italic;
    text-shadow: -2px 0 0 var(--gold);
    letter-spacing: 3px;
}

.welcome>.container>.text>a.button {
    text-shadow: none;
}

div.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

main {
    padding: 2rem;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 6rem;
    width: min(100%, 960px);
    flex: 1;
}

div.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--gunmetal);
    color: var(--rich-black);
}

footer {
    width: min(100%, 960px);
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

footer > .right {
    display: flex;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    text-align: right;
}

footer>.right>.rows {
    display: flex;
    gap: 1rem;
}

footer>.right>.rows>div {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

footer>.right .instagram {
    fill: var(--rich-black)
}

h1 {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
}

h1.styled {
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 3px;
}

h1.styled.gold {
    color: var(--gold-metallic);
    text-shadow: -2px 0px 0px var(--gold);
}

p.subtitle {
    color: rgb(161, 161, 161);
}

.button {
    background-color: var(--gold-metallic);
    border: 2px solid var(--gold);
    color: var(--gold);
    padding: 0.75rem 4rem;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: min-content;
    box-sizing: border-box;
}

.button:hover {
    background-color: var(--gold);
    border: 2px solid var(--gold-metallic);
    color: var(--gold-metallic);
    letter-spacing: 4px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

section {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

section#eligibility>.grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
}

section#eligibility>.grid>.entry {
    flex: 1;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 8px solid var(--timberwolf); */
    border-radius: 0.25rem;
    position: relative;
}

section#eligibility>.grid>.entry>svg {
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    fill: var(--timberwolf);
}

section#eligibility>.grid>.entry>div {
    display: flex;
    justify-content: center;
    font-size: larger;
}

section#eligibility>.grid>.entry>div>p {
    max-width: 15rem;
}

section#committee>.members {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 2rem;
}

section#committee>.members>div.member {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

section#committee>.members>div.member>.icon {
    width: 15rem;
    height: 15rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 4px solid var(--gunmetal);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}


section#committee>.members>div.member>.icon>img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

section#committee>.members>div.member>.icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    /* adjust this to control how much of the circle is filled */
    background: linear-gradient(to top, var(--gunmetal), transparent);
}

section#committee>.members>div.member>.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
}

section#committee>.members>div.member>.info>h1 {
    letter-spacing: 6px;
}

section#committee>.members>div.member>.info>p {
    font-weight: bold;
}

.dot-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, var(--rich-black) 2px, transparent 3px);
    background-size: 5px 5px;
    opacity: 0.5;
    mix-blend-mode: multiply;
}

section#join > a.button {
    margin-top: 2rem;
    width: 100%;
    height: 5rem;
    justify-content: center;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 3px;
}

@media only screen and (max-width: 960px) {

    .navbar {
        flex-direction: column;
    }

    .navbar>.nav-links-container {
        display: none;
    }

    .navbar>.nav-links-container.active {
        display: flex;
    }

    .navbar>.nav-links-container>.nav-links {
        flex: 1;
        display: flex;
        justify-content: start !important;
        align-items: start !important;
        flex-direction: column;
        gap: 0.75rem;
    }

    .navbar>.nav-links-container>ul.nav-links>li:hover {
        transform: translateX(2px);
        transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .navbar>.left>.logo>div.wrapper {
        width: 4rem;
    }

    .navbar>.left>.logo>div.wrapper>img {
        position: relative;
        width: 4rem;
    }

    .navbar>.left>.logo>h1 {
        font-size: 1.5rem;
    }

    .navbar>.left>button#expand-nav {
        display: flex;
    }

    section#eligibility>.grid {
        grid-template-columns: repeat(1, 1fr);
    }

    section#committee>.members {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        flex-direction: column;
        gap: 1rem;
    }

    footer>.right {
        justify-content: start;
        align-items: start;
    }

    footer>.right>.rows {
        text-align: left;
        flex-direction: column;
    }
    
    footer>.right>.rows>div {
        text-align: left;
        justify-content: start;
        align-items: start;
    }
}